<?xml version="1.0" encoding="UTF-8"?>

<!-- By: Topsitemakers -->
<!-- http://www.topsitemakers.com -->

<configuration>
  <system.webServer>

    <!-- Don't show directory listings for URLs which map to a directory. -->
    <directoryBrowse enabled="false" />

    <!-- Rewrite rules. -->
    <rewrite>
      <rules>

        <!-- Force www in front of the domain name. -->
        <rule name="Force www in front of domain name">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" negate="true" pattern="^www\.([.a-zA-Z0-9]+)$" />
          </conditions>
          <action type="Redirect" url="http://www.{HTTP_HOST}/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>
        <!-- /Force www in front of the domain name -->

        <!-- WordPress clean URLs rules -->
        <rule name="WordPress clean URLs" patternSyntax="Wildcard">
          <match url="*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
        <!-- /WordPress clean URLs rules -->

      </rules>
    </rewrite>
    <!-- /Rewrite rules. -->

    <httpErrors errorMode="Detailed"/>
    
    <!-- Error handling. -->
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/index.php" responseMode="ExecuteURL" />
    </httpErrors>
    <!-- /Error handling. -->

    <!-- Set the default document -->
    <defaultDocument>
      <files>
        <remove value="index.php" />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <!-- /Set the default document -->
    
  </system.webServer>
</configuration>
